#navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
}

.navbar-items {
  padding: 20px;
  list-style-type: none;
}

.navbar-items li {
  padding-left: 85px;
  display: inline-block;
}

.navbar-items li > a {
  text-decoration: none;
  color: #e5e5e5;
}

.navbar-items li > a:active {
  text-decoration: underline;
  color: #ffffff;
}

.navbar-items button {
  margin-right: 75px;
  text-decoration: none;
  color: #e5e5e5;
  background-color: #1f1f1f;
  border: none;
}
